.invitation-image {
    width: 100%;
    text-align: center;

    border-radius: 60px !important;
    overflow: hidden;
}

.invitation-image img {
    width: 100% !important;
    max-width: 800px !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
}

#musicBtn {
    position: fixed !important;
    bottom: 30px !important;
    right: 30px !important;
    z-index: 99999 !important;

    width: 60px !important;
    height: 60px !important;
 
    display: block !important;
    background: white !important;
    color: black !important;
    border: none 2px solid black !important;
    border-radius: 50% !important;

    font-size: 22px !important;
    cursor: pointer !important;
}

.maptn {
    background: transparent !important;
    padding: 0 !important;
    margin: 0;
    border: none !important;
    box-shadow: none !important;
    display: inline-block;
}

.maptn img {
    display: block;
    width: 170px;
    height: auto;
    border-radius: 25px;
}